@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #171717;
  --custom-blue: #381649;
  /* #000000 */
  --dark-blue: #030A74;
  --dark-orange: #000000;
  /* #030A74 */
  --custom-darkBlue: #04107F;
  --dark-lightBlue: #F1F1F1;
  --custom-lightBlack: #303030;
  --gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --gradient-conic: conic-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops));
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: white;
  color: black !important;
  font-family: Arial, Helvetica, sans-serif;
}